<h1>Registration</h1>
<form name='registerForm' novalidate ng-submit="registerForm.$valid && register()">
  <div class="field">
    <label>Email<span class='error'> *</span></label>
    <!-- Delay model update with ng-model-options="{ debounce: 500 }" -->
    <input ng-model='email' type="email" name="email" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.email.$error" multiple>
      <div class='error' ng-message="required">Please enter your email.</div>
      <div class='error' ng-message="email">Please enter a valid email address.</div>
    </div>
  </div>
  <div class="field">
    <label>UserName<span class='error'> *</span></label>
    <input ng-model='username' type="text" name="username" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.first_name.$error">
      <div class='error' ng-message="required">Please enter your first name.</div>
    </div>
  </div>
  <div class="field">
    <label>Password<span class='error'> *</span></label>
    <input ng-model='password' ng-minlength='8' type="password" name="password" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.password.$error">
      <div class='error' ng-message="required">Please enter your password.</div>
      <div class='error' ng-message="minlength">Password needs to be of 8 characters</div>
    </div>
  </div>
  <div class="field">
    <label>Confirm Password<span class='error'> *</span></label>
    <input pwconfirm ng-model='password_confirm' type="password" name="password_confirm" required>
    <div ng-if='registerForm.$submitted && !contactUsForm.name.$pristine' ng-messages="registerForm.password_confirm.$error">
      <div class='error' ng-message="required">Please enter your password again.</div>
      <div class='error' ng-message="pwconfirm">Make sure this matches the pw above.</div>
    </div>
  </div>
  <button class='btn btn-default' type="submit">Register</button>
</form>
<h1>Login</h1>
<form name='loginForm' ng-submit='loginForm.$valid && login()'>
  <div class="field">
    <label>Email</label>
    <input ng-model='login_email' type="email" name="email" required>
    <div ng-if='loginForm.$submitted' ng-messages="loginForm.email.$error" multiple>
      <div class='error' ng-message="required">Please enter your email.</div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <input ng-model='login_password' type="password" name="password" required>
    <div ng-if='loginForm.$submitted' ng-messages="loginForm.password.$error">
      <div class='error' ng-message="required">Please enter your password.</div>
    </div>
  </div>
  <div class="error">{{ authFail }}</div>
  <button class='btn btn-default' type="submit">Login</button>
</form>
<div class="oauth">
  <a href="auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
</div>
