<h3>Liked Songs</h3>
<div class="">
  <div ng-repeat="song in liked_songs" class="panel panel-default col-xs-12 col-sm-6 col-md-4">
    <div class="panel-heading">{{ song.name }}</div>
    <div class="collection panel-body">
     <img ng-src="{{ song.image }}" alt ="Generic placeholder thumbnail">
     <h5>
       <a href="/#!/artist/{{song.artist._id}}">Artist: {{ song.artist.username }}</a>
     </h5>
    </div>
  </div>
</div>

<div class="">

</div>
<div ng-show="liked_songs.length == 0"class="thumbnail"><h4>You Have No Liked Songs</h4></div>
<div class="col-xs-12">
  <h3>Artists You Follow</h3>
  <div class="row">

  </div>
  <div ng-repeat="follow in following">
    <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img ng-src="{{ follow.image }}" class="img-circle" alt="following image" style="height: 7em;width: 7em;">
      <div class="caption">
        <h5 class="text-center"><a href="/#!/artist/{{follow._id}}">{{follow.username}}</a></h5>
      </div>
    </div>
  </div>
  </div>