<footer>
  <div class="footer navbar-fixed-bottom">
    <!--image source-->
    <img class='img-circle' src='https://upload.wikimedia.org/wikipedia/commons/0/03/Saloff-coste_michel_artwork_copyright-michel_saloff-coste-005.jpg' style="width: 5%; vertical-align: top;" />
    <audio controls style="width: 94%;">
        <!--add source-->
        <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
        <source src="http://www.stephaniequinn.com/Music/Canon.mp3" type="audio/mpeg" />
        <!--link to songs page-->
        <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
      </audio>
  </div>
</footer> 