<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a href="/" class="navbar-brand">Soundcloud Clone</a>
      <button type="button" data-toggle="collapse" data-target="#navbar-main" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn"><a href="/#login/?page={{ currentPath }}">Sign in</a></li>
        <li ng-show="isLoggedIn" class="dropdown" ng-click="isCollapsed2 = !isCollapsed2">
          <a href class="dropdown-toggle">{{ user }}<span class="caret"></span></a>
          <ul class="dropdown" role="menu" uib-collapse="isCollapsed2">
            <li><a href ng-click="logout()">Logout</a></li>
            <li><a href="/#!/user">User Page</a></li>
            <li><a href="/#!/collection">Collection</a></li>
            <li><a href="/#!/stream">Stream</a></li>
            <li><a href="/#!/topchart">Top Chart</a></li>
            <li><a href="/#!/upload">upload</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>