<h2>Stream</h2>
<div class="row">
  <div style="margin-bottom: 5%;" class="col-sm-9">
    <div ng-repeat="song in streamSongs track by $index" class="panel panel-default col-xs-12">
      <div class="panel-heading">
        {{ song.name }}
      </div>
      <div class="stream panel-body">
       <img ng-src="{{ song.image }}" alt = "Generic placeholder thumbnail">
       <br>
       <button ng-click='play(song)' class='btn btn-success'>Run dat track <span class="glyphicon glyphicon-play" aria-hidden="true" style="font-size: 1em;"></span></button>
       <button ng-click="likeSong(song._id, $index)" ng-show = "song.userLikes.indexOf(user._id)==-1" class='btn btn-primary'>
         <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: 1em;"></span>
       </button>
       <h5><a href="/#!/artist/{{song.artist._id}}">by: {{ song.artist.username }}</a></h5>
       <div ng-show="playingSongComments == song.name">
         <form ng-submit="makeComment(song._id, songComment)">
           <input type="text" name="comment" placeholder="Comment Here" ng-model="songComment">
           <button class='btn btn-default' type="submit">Comment</button>
         </form>
         <button type="button" class="btn btn-link" ng-click="showComments = !showComments">Show Comments</button>
         <div ng-show="showComments">
           <table class="table table-hover">
             <thead>
               <tr>
                 <th>Username</th>
                 <th>Comment</th>
                 <th>Time in Song</th>
                 <th>Date</th>
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat="comment in comments | filter: song._id | orderBy: 'timeInSong'">
                 <td>{{comment.user.username || comment.username}}</td>
                 <td class='commentTd'>{{comment.comment}}</td>
                 <td>{{comment.timeInSong | secondsToDateTime | date:'m:ss'}}</td>
                 <td>{{comment.createdAt | date: 'MM-dd-yyyy'}}</td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
      </div>
    </div>
  </div>
  <div class="sidebar col-xs-12 col-sm-3">
    <form>
      <h4>Search for Users</h4>
      <input type="text" name="search" ng-model="search" placeholder="Search for Users">
    </form>
    <div style="margin: 5%;" ng-repeat="user in users | limitTo:5 | orderBy:'following.length' | filter:search track by $index">
      <img ng-src="{{user.image}}" class="img-circle" alt="following image" style="height: 4em;width: 4em;">
      <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 1em;" ng-click="follow(user._id, $index)"></span>
      <a style="display: block;" href="/#!/artist/{{user._id}}">{{user.username}}</a>
      <hr>
    </div>
  </div>
</div>
