<h2>Stream</h2>
<div class="row">
    <div style="margin-bottom: 5%;" class="col-sm-9">
      <div ng-repeat="song in streamSongs track by $index" class="thumbnail">
        <img ng-src="{{song.image}}" alt="Art" width="21%">
        <div style="display: inline-block;">
          <span ng-click='play(song)' class="glyphicon glyphicon-play" aria-hidden="true" style="font-size: 3em;"></span>
          <span ng-click="likeSong(song._id, $index)" ng-show = "song.userLikes.indexOf(user._id)==-1"class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: 1.5em;"></span>
          <p>{{song.artist.username}}</p>
          <p>{{song.name}}</p>
          <form ng-submit="makeComment(song._id, songComment)">
            <input type="text" name="comment" placeholder="Comment Here" ng-model="songComment">
            <input type="submit" value="Comment">
          </form>
        </div>
      </div>

  </div>
  <div class="col-sm-3">
    <!--filter by search and limit results to 10-->
    <form>
      <h4>Search for Users</h4>
      <input type="text" name="search" ng-model="search" placeholder="Search for Users">
    </form>
    <div style="margin: 5%;" ng-repeat="user in users | limitTo:5 | orderBy:'following.length' | filter:search track by $index">
      <img ng-src="{{user.image}}" class="img-circle" alt="following image" style="height: 4em;width: 4em;">
      <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 1em;" ng-click="follow(user._id, $index)"></span>
      <a style="display: block;" href="/#!/artist/{{user._id}}">{{user.username}}</a>
    </div>
  </div>
</div>
