<h2>Top Songs</h2>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <td>#</td>
      <th></th>
      <th>Song</th>
      <th>Artist</th>
      <th>Date Uploaded</th>
      <th>Likes</th>
      <th>Plays</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="song in songs track by $index">
      <td>{{$index+1}}</td>
      <td ng-click="play(song)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></td>
      <td>{{song.name}}</td>
      <td><a href="/#!/artist/{{song.artist._id}}">{{song.artist.username}}</a></td>
      <td>{{song.createdAt | date: 'mediumDate'}}</td>
      <td>{{song.userLikes.length }}</td>
      <td>{{song.plays}}</td>
    </tr>
  </tbody>
</table>
