<h2>Upload to SoundCloud</h2>
<form novalidate name="uploadForm" ng-submit='uploadForm.$valid && uploadFile(uploadForm)'>
  <div class="form-group">
    <label>Song Name:</label>
    <input type="text" ng-model="name" name="name" accept="image/*" value="" required>
    <div ng-if='uploadForm.$submitted' ng-messages="uploadForm.name.$error" multiple>
      <div class='error' ng-message="required">This field cannot be empty.</div>
    </div>
  </div>
  <div class="form-group">
    <label>Picture</label>
    <input type="file" fileread='image' ng-model='image' name="image" accept="image/*">
    <div ng-if='uploadForm.$dirty' ng-messages="uploadForm.image.$error" multiple>
      <div class='error' ng-message="accept">This field must be an image file.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="file">Upload Audio File</label>
    <input type="file" ngf-select ng-model="audioFile" name="file" ngf-max-size="2MB" accept="audio/*" required>
    <div ng-if='uploadForm.$submitted' ng-messages="uploadForm.file.$error" multiple>
      <div class='error' ng-message="required">This field cannot be empty and must have a size less than 2MB.</div>
      <div class='error' ng-message="accept">This field must be an audio file.</div>
    </div>
  </div>
  <button class='btn btn-default' type="submit">submit</button>
</form>
<div ng-show='success' class="successSubmission fadein fadeout">Song added</div>
