<div class="row">
  <div>
    <img class="img-circle" ng-src="{{user.image}}" alt="{{user.image}} Avatar Image" style="width: 10%; vertical-align: middle; text-align: center;">
    <h1 style="display: inline-block;">{{ user.username }}</h1>
  </div>
  <div>
    <h2>User Stats</h2>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Song Likes</td>
          <td>45678</td>
        </tr>
        <tr>
          <td>Album Likes</td>
          <td>45678</td>
        </tr>
        <tr>
          <td>Stations Likes</td>
          <td>45678</td>
        </tr>
        <tr>
          <td>Uploaded Songs</td>
          <td>45678</td>
        </tr>
        <tr>
          <td>Uploaded Albums</td>
          <td>45678</td>
        </tr>
        <tr>
          <td>Following</td>
          <td>456</td>
        </tr>
        <tr>
          <td>Followers</td>
          <td>456</td>
        </tr>
        <tr>
          <td>Reposts</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Plays</td>
          <td>45675678903</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Delete User</h2>
    <button type="button" class="btn btn-danger" ng-click="delete()">Delete User</button>
  </div>
</div>
