<div class="row">
  <div>
    <img class="img-circle" ng-src="{{user.image}}" alt="{{user.image}} Avatar Image" style="width: 10%; vertical-align: middle; text-align: center;">
    <h1 style="display: inline-block;">{{ user.username }}</h1>
  </div>
  <div>
    <h2>User Stats</h2>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Song Likes</td>
          <td>{{stats.song_likes}}</td>
        </tr>
        <tr>
          <td>Album Likes</td>
          <td>{{stats.album_likes}}</td>
        </tr>
        <tr>
          <td>Uploaded Songs</td>
          <td>{{stats.uploaded_songs}}</td>
        </tr>
        <tr>
          <td>Uploaded Albums</td>
          <td>{{stats.uploaded_albums}}</td>
        </tr>
        <tr>
          <td>Following</td>
          <td>{{stats.following}}</td>
        </tr>
        <tr>
          <td>Followers</td>
          <td>{{stats.followers}}</td>
        </tr>
        <tr>
          <td>Reposts</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Update Profile Image</h2>
    <form novalidate name="uploadForm" ng-submit='uploadForm.$valid && updateUserImage()'>
      <div class="form-group">
        <label>Picture</label>
        <input type="file" fileread='image' ng-model='image' name="image" accept="image/*">
        <div ng-if='uploadForm.$dirty' ng-messages="uploadForm.image.$error" multiple>
          <div class='error' ng-message="accept">This field must be an image file.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
    <h2>Delete User</h2>
    <button type="button" class="btn btn-danger" ng-click="delete()">Delete User</button>
  </div>
</div>
