/* SITE WIDE CSS */
.error{
  color: red;
  margin-bottom: 2px;
}
.success{
  color: green;
}
.oauth{
  text-align: center;
  margin-top: 10px;
}
.modal-content{
  display: absolute;
  top: 50%;
  padding: 50px;
}
.panel-body{
  text-align: center;
}
.panel-heading{
  text-align: center;
  font-size: 22px;
}
.collection img{
  height: 70px !important;
  max-width: 120px !important;
}
.stream img{
  max-height: 200px;
  max-width: 300px;
  margin-bottom: 5px;
}
.panel{
   padding-right: 0px !important;
   padding-left: 0px !important;
}
.row{
  margin: 0 auto;
}
/* NAVBAR */
.userImg{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.dropdown-menu{
  right: auto !important;
}
.navbar-brand{
  padding-right: 0px !important;
}
.commentTd{
  width:30%;
  min-width:300px;
}
/*Spacing between navbar and footer music player*/
body {
  padding-top: 80px;
  padding-bottom: 80px;
}
.successSubmission{
  color: green;
  font-size: 22px;
  margin-top: 15px;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 400ms ease-in-out all;
    -moz-transition: 400ms ease-in-out all;
    -o-transition: 400ms ease-in-out all;
    transition: 400ms ease-in-out all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.navbar-fixed-bottom{
  background: #cbcbcb;
  height: 70px;
  padding: 5px;
}
.links{
  display: inline-block;
  width: 15%;
  text-align: center;
}
.links a .glyphicon{
  font-size: 35px;
  color: #75D6FF;
  border: 3px solid white;
}
.playbar{
  border-radius: 5px;
  position: relative;
  width: 88% !important;
  display: inline-block;
  height: 28px;
  background: white;
  width: 75% !important;
  bottom: 15px;
  margin-left:15px;
}
.fill{
  border-radius: 5px;
  height: 28px;
  position: absolute;
  background: yellow;
  width: 0%;
  max-width: 100%
}
.sidebar{
  text-align: center;
}

@media screen and (max-width: 1090px){
  .links{
    width: 30%
  }
  .links a .glyphicon{
    font-size: 18px;
  }
  .playbar{
    width: 62% !important;
    bottom: 2px;
    margin-left: 16px;
  }

}

#logoName {
    font-family: 'Baloo', cursive;
}
th{
  text-align: center !important;
}
